.subscribe {
	background-color: #f2f2f2;
	margin-top: 60px;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: calc(0px - 50vw);
		width: 200vw;
		height: 100%;
		background-color: #f2f2f2;
		z-index: 0;
	}
}
.subscribe__inner {
	min-height: 119px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	position: relative;
}
.subsrcibe__form {
	display: flex;
	align-items: center;
}
.subscribe__form_label {
	color: $orange;
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
	margin-right: 50px;
}
.subscribe__form_input {
	border-radius: 5px;
	background-color: #ffffff;
	width: 486px;
	height: 46px;
	border: none;
	padding: 5px 30px 5px 67px;
}
.subscribe__form_input_icon {
	color: $orange;
	font-size: 18px;
	font-weight: 400;
	padding: 0 15px;
	border-right: 1px solid #bfbfbf;
	margin-right: -200px;
	margin-top: 15px;
	position: relative;
	float: left;
}
.subscribe__form_button {
	width: 46px;
	height: 46px;
	border-radius: 5px;
	background-color: #ffffff;
	border: 1px solid transparent;
	margin-left: 20px;
	cursor: pointer;
	position: relative;
	transition: all 0.3s;
	&::before {
		content: '\f00c';
		font-family: 'icomoon' !important;
		position: absolute;
		color: $orange;
		font-size: 30px;
		left: 0;
		right: 0;
		top: 5px;
	}
	&:hover {
		border-color: $orange;
		background-color: transparent;
		&::before {
			color: $text;
		}
	}
}
.subscribe__form_wrapper {
	position: relative;
}

//media
//media
//media
//media
//media
//media
//media
//media
//media
//media
//media
//media
//media
//media

@media (max-width: 1000px) {
	.subscribe__form_label {
		max-width: 100%;
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
		justify-content: center;
		display: flex;
	}
	.subsrcibe__form {
		flex-wrap: wrap;
	}
}
@media (max-width: 768px) {
	.subscribe {
		display: none;
	}
}
