@import "src/assets/scss/vars.scss";

.cartModal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(1, 2, 2, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  &.active {
    visibility: visible;
    opacity: 1;
  }
}
.cartModal__content {
  position: relative;
  margin-left: auto;
  background-color: #fff;
  height: 100vh;
  box-shadow: 0 0px 6px rgba(1, 2, 2, 0.24);
  padding: 30px 20px 80px 50px;
  min-width: 300px;
  max-width: 450px;
  width: 100%;
  right: 0;
  top: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cartModal__close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  left: 10px;
  transition: all 0.3s;
  background-color: #ff8000;
  cursor: pointer;
  border: 2px solid transparent;
  &:hover {
    opacity: 0.7;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: 12px;
    left: 0;
    transform: rotate(45deg);
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: 12px;
    left: 0;
    transform: rotate(-45deg);
  }
}
.cartModal__items {
  margin-top: 30px;
}
.cartModal__item {
  display: flex;
  & + & {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #bfbfbf;
  }
}
.cartModal__item_image {
  max-width: 100%;
  width: 95px;
  height: 95px;
  object-fit: cover;
}
.cartModal__item_info {
  margin-left: 15px;
}
.cartModal__item_name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: $text;
  display: flex;
  transition: all 0.3s;
  &:hover {
    opacity: 0.7;
  }
}
.cartModal__item_saleprice {
  font-size: 18px;
  line-height: 18px;
  color: $text;
}
.cartModal__item_price {
  color: #bfbfbf;
  text-decoration: line-through;
}
.cartModal__item_box {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.cartModal__gotocartbtn {
  margin-top: auto;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 11px 13px;
  background-color: #ff8000;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 447px;
  transition: all 0.3s;
  position: fixed;
  bottom: 0;
  right: 3px;
}

.orderModal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  &.active {
    display: flex;
  }
}
.orderModal__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 2, 2, 0.4);
}
.orderModal__content {
  box-shadow: 0 0px 6px rgba(1, 2, 2, 0.24);
  padding: 30px;
  background-color: #fff;
  width: 100%;
  max-width: 600px;
}
.orderModal__content_close {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #ff8000;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: 13px;
    left: 0;
    transform: rotate(45deg);
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: 13px;
    left: 0;
    transform: rotate(-45deg);
  }
}
.orderModal__content_title {
  text-align: center;
  margin-bottom: 20px;
  color: #454545;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 10px;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #c2c2c2;
}
.orderModal__form {
  margin-top: 30px;
  position: relative;
  width: 100%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.orderModal__input {
  border: 1px solid #c2c2c2;
  max-width: 445px;
  width: 100%;
  height: 51px;
  padding: 19px 20px 21px 13px;
  margin: 10px 0;
  &::placeholder {
    font-size: 13px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
  }
}
.orderModal__textarea {
  margin-top: 15px;
  width: 100%;
  background-color: #fff;
  height: 120px;
  border: 1px solid #c2c2c2;
  resize: none;
  margin-bottom: 17px;
  outline: transparent;
  padding: 19px 20px 21px 13px;
  &::placeholder {
    font-size: 13px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
  }
}
.orderModal__checkbox {
  margin-top: 15px;
  display: flex;
  align-items: center;
  input {
    cursor: pointer;
  }
  label {
    cursor: pointer;
    display: inline-block;
    margin-left: 3px;
    color: #9b9b9b;
    font-size: 11px;
  }
}
.orderModal__btn {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #2a2a2a;
  padding: 15px;
  height: 51px;
  border: none;
  cursor: pointer;
  min-width: 240px;
  width: fit-content;
  transition: all 0.3s;
  &:hover {
    opacity: 0.7;
  }
}
.product_review__form_errors {
  width: 100%;
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 8px 15px;
    background-color: rgb(249, 80, 80);
    color: #fff;
  }
  p + p {
    margin-top: 10px;
  }
}

.authModal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  &.active {
    display: flex;
  }
  .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    border-radius: 10px;
    width: 100%;
    max-width: 580px;
    box-shadow: 0 0px 6px rgba(1, 2, 2, 0.24);
    background-color: rgb(255, 255, 255);
    width: 100%;
  }
}
.authModal__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 2, 2, 0.4);
}
.authModal__close {
  top: 30px;
  right: 30px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #ff8000;
  transition: all 0.3s;
  border-radius: 6px;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: 13px;
    left: 0;
    transform: rotate(45deg);
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: 13px;
    left: 0;
    transform: rotate(-45deg);
  }
}
.authModal__content_title {
  text-align: center;
  margin-bottom: 20px;
  color: #454545;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 10px;
  margin-top: 15px;
}
