.content {
	flex: 1;
	margin: 0;
	padding-top: 30px;
	position: relative;
	background-image: none !important;
	margin-top: 284px;
}
.content_product_info {
	flex: 1 0 auto;
	margin: 284px 0 0 0;
	padding-top: 30px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(#fff, 0.97);
		z-index: 0;
	}
}

//media
//media
//media
//media
//media
//media
//media
//media
//media
//media
//media
//media
//media
//media

@media (max-width: 540px) {
	.content_product_info {
		margin-top: 180px;
	}
	.content {
		margin-top: 180px;
	}
}
