.alertBox {
  z-index: 999999;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert {
  width: fit-content;
  padding: 30px 70px;
  font-size: 20px;
  display: flex;
  align-items: center;
}
