@media (max-width: 1250px) {
  .new-slider__inner {
    .new__card {
      flex-basis: calc(33% - 30px);
      max-width: 33%;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}
@media (max-width: 1200px) {
  .sliders__inner {
    flex-wrap: wrap;
  }
  .sliders__slider-save {
    max-width: 70%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .sliders__slider-save .slick-next,
  .sliders__slider-save .slick-prev {
    bottom: -20px;
  }
  .sliders__slider-hot {
    max-width: 70%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .card__image {
    height: 315px;
  }
  .offers__items {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .offers__item {
    max-width: 36%;
    margin-bottom: 50px;
  }
  .offers__images {
    flex-wrap: wrap;
    width: 100%;
  }
  .offers__single,
  .offers__double {
    max-width: 70%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .offers__double {
    a {
      min-height: 250px;
    }
  }
  .blog__item {
    max-width: 45%;
  }
  .blog__item-image {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .page-contacts__contact-inner {
    flex-wrap: wrap;
  }
  .page-contacts__contact-info {
    width: auto;
  }
  .page-contacts__contact-map {
    width: 100%;
    margin-top: 15px;
    iframe {
      width: 100%;
    }
  }
  .product-review__inner-form {
    display: block;
    input {
      max-width: 100%;
      margin-bottom: 17px;
    }
  }
}
@media (max-width: 1150px) {
  .menu {
    display: none;
  }
  .menu__burger-btn {
    display: flex;
  }
  .new__card {
    flex-basis: calc(33% - 30px);
  }
  .title-head__title {
    margin-right: 100px;
  }
  .new__buttons-select {
    display: flex;
  }
  .new__buttons-button {
    display: none;
  }
  .new {
    .jq-selectbox__select {
      height: 32px;
      padding: 0 45px 0 10px;
      border: 1px solid #d6d6d6;
      border-radius: 0px;
      background: none;
      box-shadow: none;
      font: 14px/32px Arial, sans-serif;
      color: $text;
      text-shadow: none;
      width: 250px;
    }
    .jq-selectbox__select-text {
      overflow: visible;
    }
  }
  .title-head {
    padding-bottom: 6px;
  }
  .gallery,
  .blog,
  .feedback,
  .product-info {
    .title-head__title::before {
      bottom: -9px;
    }
  }
  .products__title-head-title {
    margin-right: 0;
    &::before {
      bottom: -14px;
    }
  }
  .products__title-head {
    display: block;
  }
  .products__content-form {
    margin-top: 20px;
  }
  .products__card {
    flex-basis: calc(50% - 30px);
  }
  .product-review {
    .title-head__title::before {
      bottom: -9px;
    }
  }
  .new-slider .title-head__title::before {
    bottom: -9px;
  }
}
@media (max-width: 1050px) {
  .gallery__inner {
    display: block;
    height: auto;
  }
  .gallery__tabs,
  .gallery__banner {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .gallery .title-head {
    width: 100%;
  }
  .gallery__banner {
    height: 500px;
  }
  .page-about__brands {
    justify-content: space-around;
  }
  .page-showroom__inner {
    justify-content: center;
  }
  .page-showroom__item {
    flex-basis: calc(80% - 30px);
  }
  .product-info__information-socials-item {
    margin-bottom: 15px;
    margin-right: 6px;
  }
  .product-info__information-socials-item + .product-info__information-socials-item {
    margin-left: 0;
  }
  .product-info__information-name {
    font-size: 18px;
  }
  .breadcrumbs__title {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .sliders__slider-save,
  .sliders__slider-hot,
  .offers__single,
  .offers__double,
  .gallery__tabs,
  .gallery__banner {
    max-width: 80%;
  }
  .title-head__title {
    font-size: 18px;
  }
  .footer__main-inner {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer__main-item {
    max-width: 48%;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .footer__main-list {
    margin-top: 10px;
  }
  .footer__main-image {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__copy-text {
    margin-right: 20px;
    margin-left: 0;
  }
  .footer__copy-inner {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .subsrcibe__form {
    flex-wrap: wrap;
    justify-content: center;
  }
  .subscribe__form-label {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    margin-right: 0;
  }
}
@media (max-width: 900px) {
  .products__inner {
    flex-wrap: wrap;
  }
  .products__content {
    .products__aside-featured {
      display: flex;
      flex-wrap: wrap;
    }
    .products__featured-title {
      width: 100%;
    }
    .products__featured-inner {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    .products__featured-item {
      width: 48%;
      margin-bottom: 30px;
    }
  }
  .products__aside {
    order: -1;
    max-width: 100%;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .products__aside-featured {
      display: none;
    }
  }
  .aside-title {
    font-size: 14px;
  }
  .products__aside-price,
  .products__aside-color,
  .products__aside-categories {
    margin-top: 0;
    margin-bottom: 15px;
    width: 30%;
  }
  .products__aside-size {
    margin-top: 0;
    margin-bottom: 15px;
    width: 100%;
  }
  .product-info__inner {
    display: block;
    background-color: transparent;
  }
  .product-info__inner-images {
    max-width: 80%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .product-info__inner-information {
    max-width: 100%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 800px) {
  .sliders__slider-save,
  .sliders__slider-hot,
  .offers__single,
  .offers__double,
  .gallery__tabs,
  .gallery__banner {
    max-width: 100%;
  }
  .offers__item {
    max-width: 45%;
  }
  .new__card {
    flex-basis: calc(50% - 30px);
  }
  .new .card__info-title,
  .new .card__info-text {
    max-width: 100%;
  }
  .new__card-links-price {
    font-size: 14px;
  }
  .card__links-price-span {
    font-size: 16px;
  }
  .new-slider__inner {
    .new__card {
      flex-basis: calc(50% - 30px);
      max-width: 50%;
    }
  }
}
@media (max-width: 768px) {
  .header__settings-image-icon {
    font-size: 50px;
  }
  .header__info-logo {
    width: 200px;
    height: 100px;
  }
  .header__info-tel {
    font-size: 16px;
  }
  .header__settings-email {
    font-size: 12px;
  }
  .header__settings-time {
    font-size: 12px;
  }
  .header__info-tel-icon {
    font-size: 25px;
    margin-right: 15px;
  }
  .offers__item-title {
    font-size: 18px;
  }
  .offers__item-text {
    font-size: 18px;
  }
  .gallery__inner {
    height: auto;
  }
  .gallery__banner {
    height: 500px;
  }
  .gallery__banner-price-span {
    font-size: 16px;
  }
  .gallery__banner-price {
    font-size: 35px;
  }
  .gallery__banner-text {
    font-size: 38px;
  }
  .gallery__tabs-box-title {
    font-size: 14px;
  }
  .gallery__tabs-content-inner {
    flex-direction: column;
    height: 100%;
    margin-top: 30px;
  }
  .gallery__tabs-icons {
    flex-direction: row;
  }
  .gallery__tabs {
    height: auto;
  }
  .gallery__tabs-image {
    width: 60%;
  }
  .gallery__tabs-img-box {
    justify-content: space-around;
  }
  .gallery__tabs-box-circle {
    position: relative;
    top: 0;
  }
  .gallery__tabs-box {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .gallery__tabs-slider {
    padding-left: 0;
    padding-right: 0;
  }
  .brands__inner {
    padding: 23px 0;
  }
  .feedback {
    margin-bottom: 30px;
  }
  .page-about__items {
    display: block;
  }
  .page-about__item {
    margin: 0 auto 30px;
  }
  .page-about__title,
  .page-contacts__title,
  .partnership__title,
  .page-showroom__title,
  .delivery__title {
    font-size: 22px;
  }
  .page-about__box-title,
  .payment__box-title,
  .delivery__box-title {
    font-size: 18px;
  }
  .modal__wrapper {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
  }
  .page-showroom__item {
    flex-basis: calc(100% - 30px);
  }
  .products__aside-price,
  .products__aside-color,
  .products__aside-categories {
    width: 100%;
  }
  .products__content .products__featured-item {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .header__settings-time {
    display: none;
  }
  .header__setting-user {
    margin-right: 15px;
  }
  .header__settings-email {
    margin-left: 5px;
  }
  .header__info-contacts {
    flex-wrap: wrap;
    max-width: 100%;
  }
  .header__info-contacts-links {
    width: 100%;
    flex-direction: row;
    margin-top: 10px;
    flex-wrap: wrap;
  }
  .header__info-contacts-link + .header__info-contacts-link {
    margin-top: 0;
    margin-left: 10px;
  }
  .header__info-logo-image {
    object-fit: cover;
  }
  .sliders__save-item {
    height: 420px;
  }
  .offers__item {
    max-width: 60%;
  }
  .gallery__tabs-tabs {
    display: block;
  }
  .gallery__tabs-tab-link {
    max-width: 100%;
  }
  .gallery__tabs-tabs .gallery__tabs-tab-link.current {
    border-bottom: 1px solid #d58e32;
    border-width: 1px;
    border-left: none;
    border-right: none;
  }
  .blog__item {
    max-width: 100%;
  }
  .blog__item-image {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .menu__burger {
    left: 0px;
    width: auto;
  }
  .feedback__item {
    padding: 0;
  }
  .footer__copy-text {
    width: 100%;
  }
  .subscribe__form-input {
    width: 100%;
  }
  .subscribe__form-button {
    display: block;
  }
  .subsrcibe__form {
    width: 100%;
  }
  .banner-top__title {
    font-size: 45px;
  }
  .banner-top__text {
    font-size: 20px;
  }
  .payment__title {
    font-size: 22px;
  }
  .partnership__download-inner {
    display: block;
  }
  .partnership__download-info {
    margin-left: 0;
    margin-top: 15px;
  }
  .partnership__download-buttons {
    justify-content: space-around;
  }
  .partnership__download-btn {
    margin-right: 0;
    margin-left: 0;
  }
  .partnership__download-btn img {
    width: 100px;
    height: 120px;
  }
  .products__content-form {
    display: block;
  }
  .products__content-sortby,
  .products__content-show {
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .products__content-sortby-select,
  .products__content-show-select {
    margin-right: 0;
  }
  .product-info__inner-images {
    max-width: 100%;
  }
  .breadcrumbs__inner--product-info {
    display: block;
    .breadcrumbs__title {
      margin-bottom: 5px;
    }
  }
  .product-info__inner,
  .product-review__inner {
    border: none;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 550px) {
  .new__card {
    flex-basis: calc(100% - 30px);
  }
  .title-head {
    display: block;
  }
  .title-head__title {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .gallery__tabs-image {
    width: 90%;
  }
  .gallery .title-head {
    border-bottom: none;
  }
  .gallery__tabs-img-box {
    flex-wrap: wrap;
  }
  .gallery__tabs-content-inner {
    width: 100%;
    position: relative;
  }
  .gallery__tabs-tab-content {
    padding: 0;
  }
  .gallery__tabs-icons {
    width: 50%;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .feedback__item-author {
    display: block;
  }
  .feedback__item-author-image,
  .feedback__item-author-info {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__main-item {
    max-width: 60%;
    text-align: left;
  }
  .page-contacts__contact-info {
    width: 100%;
    margin-right: 0;
  }
  .payment .delivery__box-line {
    display: block;
  }
  .delivery__box-line {
    display: block;
  }
  .new-slider__inner {
    .new__card {
      flex-basis: calc(100% - 30px);
      max-width: 100%;
    }
  }
}
@media (max-width: 480px) {
  .header__info-contacts-link {
    font-size: 13px;
  }
  .header__info-inner {
    flex-wrap: wrap;
    height: auto;
    padding: 10px 0;
    justify-content: center;
  }
  .header__info-contacts {
    justify-content: center;
  }
  .header__info-contacts-links {
    justify-content: center;
  }
  .header__info-logo {
    order: -1;
    margin-bottom: 10px;
  }
  .header__settings-email {
    display: none;
  }
  .header__main-inner {
    flex-wrap: wrap;
    height: auto;
    padding: 10px 0;
    justify-content: flex-end;
  }
  .header__main-form {
    max-width: 100%;
    width: 100%;
    order: 1;
    margin-right: auto;
  }
  .menu__burger-btn {
    margin-bottom: 15px;
  }
  .header__main-search {
    width: 100%;
  }
  .header__main-search-label {
    width: 100%;
  }
  .sliders__save-item {
    height: 360px;
  }
  .card__image {
    height: 300px;
  }
  .offers__single {
    height: 400px;
  }
  .offers__single-text {
    font-size: 25px;
  }
  .offers__single-text-span {
    font-size: 35px;
  }
  .offers__single-price {
    font-size: 40px;
  }
  .offers__double-text1-title {
    font-size: 25px;
  }
  .offers__double-text1 {
    font-size: 23px;
  }
  .offers__double-text2 {
    font-size: 23px;
  }
  .offers__double-price2 {
    font-size: 16px;
  }
  .offers__double-price1 {
    font-size: 30px;
  }
  .offers__item {
    max-width: 80%;
  }
  .new__pagination .mixitup-control {
    height: 25px;
    width: 25px;
    font-size: 12px;
  }
  .new__pagination .mixitup-control.mixitup-control-prev {
    margin-right: 0px;
  }
  .new__pagination .mixitup-control + .mixitup-control {
    margin-left: 5px;
  }
  .gallery__tabs-box {
    max-width: 100%;
  }
  .gallery__banner {
    height: 420px;
  }
  .subscribe__form-label {
    margin-top: 20px;
  }
  .subsrcibe__form {
    div {
      width: 100%;
    }
  }
  .subscribe__form-button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .page-showroom__item-image {
    height: 380px;
  }
  .page-showroom__item-box {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .page-showroom__box-image {
    width: 31%;
    margin: 0 0 10px;
  }
  .product-info__images-image {
    height: 420px;
  }
}
@media (max-width: 380px) {
  .sliders__save-item {
    height: 320px;
  }
  .card__image {
    height: 280px;
  }
  .offers__single {
    height: 350px;
    padding: 0;
  }
  .new__buttons-select {
    width: 100%;
  }
  .new__buttons-left {
    width: 100%;
  }
  .new .jq-selectbox__select {
    width: 100%;
  }
  .footer__main-item {
    max-width: 100%;
  }
  .page-showroom__item-image {
    height: 360px;
  }
  .page-showroom__box-image {
    width: 31%;
    margin: 0 0 10px;
  }
}

@media (max-height: 900px) {
  .modal__wrapper {
    top: 30px;
  }
}
@media (max-height: 760px) {
  .modal__wrapper {
    top: 0px;
    height: 100%;
    overflow-y: scroll;
  }
}

//end Main Css
